<%- include ("includes/head", { pageTitle: "An Error Occurred" }) %>
   
</head>
<body> 
    <%- include ("includes/header") %>
    <main>
        <h1>Not Authorized</h1>
        <p>You do not have access to this point or further</p>
        <p><a class="btn" href="/">Back to safety</a></p>
    </main>
        
    
<%- include ("includes/footer") %>  