<%- include("../../shared/includes/head", { pageTitle: "Failed" }) %>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order failed</h1>
    <p>For more details please contact the shop owner</p>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include("../../shared/includes/footer") %>