<%- include("../../shared/includes/head", { pageTitle: "Success" }) %>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order was Completed. Success!</h1>
    <p>For more details, visit the Orders page <a href="/orders"></a></p>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include("../../shared/includes/footer") %>