h1 {
    text-align: center;
    color: #DD5353;
}

form {
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: #FFD384;
    border-radius: var(--border-radius-medium);
    text-align: center;
}

form a {
    color: #9A1663;
}

form a:hover, form a:active {
    color: #DD5353;
}