* {
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background: linear-gradient(35deg, #8BBCCC, #F8C4B4, #FFCB42);
    color: #4C3A51;
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: auto;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#EE6983;
}

.btn {
    font-family: "Mukta" sans-serif;
    color: #06283D;
    background-color: #C47AFF;
    padding: 8px;
    cursor: pointer;
    border: solid #06283D;
    border-radius: var(--border-radius-small);
}

.btn:hover, .btn:active {
    color: #D8D8D8;
    background-color: #002B5B;
    border: solid #D8D8D8;
}

btn-alt {
    background-color: transparent;
    color: maroon;
}

btn-alt:hover, btn-alt:active {
    background-color: brown;
    color: wheat;
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: rgb(225, 83, 83);
    color: darkred;
    padding: 5px;
}

.alert h2 {
    font-size: 1.5rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2);
}

.badge {
    margin-left: var(--space-2);
    padding: 0.2rem var(--space-4);
    border-radius: 10rem;
    background-color: #9C2C77;
    color: #FFF5E4;
}