.cart-item {
    display: flex;
    flex-direction: column;
    background-color: #FFD384;
    padding: var(--space-4);
    border-radius: var(--border-radius-medium);
    margin: var(--space-4) 0;
}

.cart-item h2 {
    font-size: 1rem;
    margin: 0;
}

.cart-item input {
    font-family: "Oswald", sans-serif;
    border-radius: 10px;
}

.cart-product-price {
    font-style: italic;
    color: #9C2C77;
}

#cart-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-total p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #DD5353;
}

#cart-total #cart-total-check {
    font-size: 1rem;
    font-weight: normal;
}

@media (min-width: 48rem) {
    .cart-item {
        flex-direction: row;
        justify-content: space-between;
    }

    #cart-total {
        flex-direction: row;
        justify-content: space-between;
    }
    
}