main {
    margin-top: 6rem;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 60rem;
    height: 6rem;
    margin: 0 auto;
    padding: 0 var(--space-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid goldenrod;
    background-color: brown;
}

#main-header nav {
    display: none;
}

#logo a {
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-items li {
    margin: 0 var(--space-2);
}

.nav-items button {
    cursor: pointer;
    font-family: "PT Serif", serif;
    font-size: 1.75rem;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: var(--border-radius-small);
    background-color:brown;
    padding: 0 var(--space-4);
}

#mobile-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    width: 2.25rem;
    height: 2.26rem;
    background-color: transparent;
    padding: 0;
}

#mobile-menu-btn span {
    width: 2.25rem;
    height: 0.25rem;
    background-color: gold;
}

#mobile-menu {
    position: fixed;
    top: 6rem;
    left: 0;
    height: calc(100vh - 6rem);
    width: 100%;
    background-color:cadetblue ;
    display: none;
    flex-direction: column;
    align-items: center;
}

#mobile-menu.open {
    display: flex;
}

#mobile-menu nav {
    height: 20rem;
    width: 90%;
    margin: var(--space-4) auto;
}

#mobile-menu .nav-items a {
    font-size: 1.75rem;
    color: bisque;
}

@media (min-width: 48rem) {
    main {
        margin-top: 0;
    }

    #main-header {
        position: static;
    }    

    #main-header nav {
        display: block;
    }

    #mobile-menu-btn {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    .nav-items {
        flex-direction: row;
    }

    .nav-items button {
    font-family: "PT Serif", serif ;
    font-size: 1rem;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: var(--border-radius-small);
    background-color:brown ;
    padding: 0 var(--space-4);
    }

    .nav-items a {
        padding: var(--space-2) var(--space-4);
        border-radius: var(--border-radius-small);
    }
    .nav-items a:hover, .nav-items a:active {
        background-color: chocolate;
    }
}